@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-l;
  src: url(../fonts/Roboto-Light.ttf);
}

* {
  font-family: roboto;
}

@media (max-width: 480px) {
  body a {
    color: #0093D8;
    text-decoration: underline;
  }
  body h1.title {
    font-family: roboto-l;
    font-size: 1.9rem;
    color: #414141;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  body .nav-bar {
    width: 100vw;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 100;
  }
  body .nav-bar a svg.logo {
    height: 40px;
    margin-left: 20px;
  }
  body .nav-bar a svg.logo g path {
    fill: #FFF;
  }
  body .nav-bar button.menu {
    width: 80px;
    height: 100%;
    padding: 0;
    background-color: unset;
    border: none;
    -webkit-transition: .05s linear;
    transition: .05s linear;
  }
  body .nav-bar button.menu img {
    width: 30px;
  }
  body .nav-bar button.menu.active {
    background-color: #0093D8;
  }
  body .nav-bar .dropdown-container {
    width: 100%;
    position: fixed;
    top: 80px;
    right: -100vw;
  }
  body .nav-bar .dropdown-container .option {
    display: block;
    text-decoration: none;
    background-color: #0093D8;
  }
  body .nav-bar .dropdown-container .option h1 {
    font-family: roboto-l;
    font-size: 1rem;
    color: #FFF;
    text-transform: uppercase;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #66BEE8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body .nav-bar .dropdown-container .option.sub {
    width: 100%;
    height: 0;
    background-color: #007BB5;
    -webkit-transition: .1s linear;
    transition: .1s linear;
  }
  body .nav-bar .dropdown-container .option.sub h1 {
    opacity: 0;
    padding-left: 45px;
  }
  body .nav-bar .dropdown-container .option.sub.visible {
    height: 50px;
  }
  body .nav-bar .dropdown-container .option.sub.visible h1 {
    opacity: 1;
  }
  body .nav-bar .nav-menu-desktop {
    display: none;
  }
  body .carousel-wrapper .carousel .carousel-inner {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 350px;
  }
  body .carousel-wrapper .carousel .carousel-inner .carousel-item {
    max-width: 100vw;
    height: 100%;
  }
  body .carousel-wrapper .carousel .carousel-inner .carousel-item img {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 100%;
  }
  body .carousel-wrapper .carousel .carousel-inner .carousel-item .carousel-caption {
    width: 75vw;
    left: 10px;
    bottom: 60px;
    text-align: left;
  }
  body .carousel-wrapper .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    text-transform: uppercase;
    font-size: 2.2rem;
  }
  body .carousel-wrapper .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-size: 1.1rem;
  }
  body .carousel-wrapper .carousel ol.carousel-indicators {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    margin-bottom: 50px;
  }
  body .carousel-wrapper .carousel ol.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    background-color: #F5F5F5;
    opacity: 1;
    -webkit-transition: .1s linear;
    transition: .1s linear;
  }
  body .carousel-wrapper .carousel ol.carousel-indicators li.active {
    width: 16px;
    height: 16px;
    background-color: #0093D8;
  }
  body .description-wrapper {
    width: 95%;
    margin: 40px auto;
  }
  body .description-wrapper .container {
    margin-bottom: 80px;
  }
  body .description-wrapper .container .text-wrapper p {
    font-size: 14px;
    color: #414141;
    text-align: justify;
    line-height: 22px;
    width: 100%;
    float: none;
  }
  body .description-wrapper .container .text-wrapper img {
    width: 40%;
    float: right;
    margin-left: 10px;
  }
  body .description-wrapper .container .text-wrapper ul {
    list-style-image: url(../img/list-marker.png);
    padding-left: 20px;
  }
  body .description-wrapper .container .text-wrapper ul li {
    font-size: 14px;
    color: #414141;
    padding: 0;
    padding-left: 5px;
    margin-bottom: 20px;
  }
  body .description-wrapper .container .text-wrapper a {
    float: right;
  }
  body .partners-wrapper {
    width: 95%;
    margin: 40px auto;
  }
  body .partners-wrapper .container .item {
    width: 210px;
    height: 210px;
    margin: 0 auto;
    border: 1px solid #CACCCE;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .partners-wrapper .container .item img {
    height: 100px;
  }
  body .contact-wrapper {
    width: 100%;
    background-color: #2D333D;
  }
  body .contact-wrapper .container {
    width: 90%;
    padding: 25px 0;
  }
  body .contact-wrapper .container h1.title {
    font-size: 1.2rem;
    color: #F5F5F5;
  }
  body .contact-wrapper .container p {
    font-size: .9rem;
    color: #F5F5F5;
    text-align: justify;
    line-height: 18px;
  }
  body .contact-wrapper .container .social-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .contact-wrapper .container .social-wrapper .social {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
  }
  body .contact-wrapper .container .social-wrapper .social.facebook {
    background-color: #3B5998;
  }
  body .contact-wrapper .container .social-wrapper .social.linkedin {
    background-color: #0097DA;
  }
  body .contact-wrapper .container .social-wrapper .social.twitter {
    background-color: #00CCFF;
  }
  body .contact-wrapper .container .social-wrapper svg {
    width: 20px;
    height: 20px;
  }
  body .contact-wrapper .container form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  body .contact-wrapper .container form button {
    color: #FFF;
    font-size: 1rem;
    width: 100px;
    height: 40px;
    border: none;
    background-color: #0093D8;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 25px;
  }
  body .contact-wrapper .container form button:hover {
    -webkit-filter: brightness(85%);
            filter: brightness(85%);
  }
  body .contact-wrapper .container form h5 {
    font-size: .8rem;
    color: #C8C8C8;
    margin-top: -25px;
    margin-left: 20px;
  }
  body .contact-wrapper .container form div {
    position: relative;
    margin-bottom: 25px;
  }
  body .contact-wrapper .container form div input,
  body .contact-wrapper .container form div textarea {
    font-family: roboto-l;
    font-size: .9rem;
    color: #FFF;
    text-indent: 5px;
    width: 100%;
    background-color: #252628;
    border: 1px solid #000000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body .contact-wrapper .container form div input:focus,
  body .contact-wrapper .container form div textarea:focus {
    outline: 1px solid #0093D8;
  }
  body .contact-wrapper .container form div input {
    height: 40px;
  }
  body .contact-wrapper .container form div textarea {
    height: 120px;
    resize: none;
  }
  body .contact-wrapper .container form div label {
    font-family: roboto-l;
    color: #FFF;
    height: 16px;
    line-height: 16px;
    position: absolute;
    top: 12px;
    left: 12px;
  }
  body footer {
    background-color: #2D333D;
    margin-bottom: 0;
    display: block;
  }
  body footer div.container {
    width: 90%;
    border-top: 1px solid #575C64;
    padding: 0;
  }
  body footer div.container h5 {
    width: 100%;
    font-size: .8rem;
    line-height: 18px;
    color: #FFF;
    padding: 20px 0;
    margin: 0;
  }
}

@media (min-width: 480px) {
  body a {
    color: #0093D8;
    text-decoration: underline;
  }
  body h1.title {
    font-family: roboto-l;
    font-size: 1.9rem;
    color: #414141;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  body .nav-bar {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 100;
  }
  body .nav-bar a svg.logo {
    height: 40px;
    margin-left: 20px;
  }
  body .nav-bar a svg.logo g path {
    fill: #FFF;
  }
  body .nav-bar button.menu,
  body .nav-bar .dropdown-container {
    display: none;
  }
  body .nav-bar .nav-menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    position: relative;
  }
  body .nav-bar .nav-menu-desktop .option {
    width: 120px;
    height: 80px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .1s linear;
    transition: .1s linear;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    font-family: roboto-l;
    font-size: 1rem;
    color: #FFF;
    text-transform: uppercase;
    margin: 0;
  }
  body .nav-bar .nav-menu-desktop .option:hover {
    background-color: #0093D8;
  }
  body .nav-bar .nav-menu-desktop .option:hover img {
    display: block;
  }
  body .nav-bar .nav-menu-desktop .option img {
    display: none;
    margin-left: 10px;
  }
  body .nav-bar .nav-menu-desktop .option.sub:not(:first-child) {
    display: none;
  }
  body .nav-bar .nav-menu-desktop .option.sub:not(:first-child):hover {
    -webkit-filter: brightness(85%);
            filter: brightness(85%);
  }
  body .nav-bar .nav-menu-desktop .option-wrapper {
    -webkit-transition: .1s linear;
    transition: .1s linear;
  }
  body .nav-bar .nav-menu-desktop .option-wrapper:hover {
    background-color: #0093D8;
  }
  body .nav-bar .nav-menu-desktop .option-wrapper:hover .sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .carousel-wrapper {
    width: 100%;
  }
  body .carousel-wrapper .carousel-inner {
    width: 100%;
  }
  body .carousel-wrapper .carousel-inner .carousel-item {
    width: 100%;
  }
  body .carousel-wrapper .carousel-inner .carousel-item img {
    width: 100vw;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  body .carousel-wrapper .carousel-inner .carousel-item .carousel-caption {
    bottom: 100px;
    position: absolute;
    left: calc(50% - 480px);
    text-align: left;
  }
  body .carousel-wrapper .carousel-inner .carousel-item .carousel-caption h5 {
    text-transform: uppercase;
    font-size: 2.2rem;
  }
  body .carousel-wrapper .carousel-inner .carousel-item .carousel-caption p {
    font-size: 1.1rem;
  }
  body .carousel-wrapper .detail-wrapper {
    width: 960px;
    height: 60px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 480px);
  }
  body .carousel-wrapper ol.carousel-indicators {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    margin-bottom: 50px;
  }
  body .carousel-wrapper ol.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    background-color: #F5F5F5;
    opacity: 1;
    -webkit-transition: .1s linear;
    transition: .1s linear;
  }
  body .carousel-wrapper ol.carousel-indicators li.active {
    width: 16px;
    height: 16px;
    background-color: #0093D8;
  }
  body .description-wrapper {
    width: 960px;
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .description-wrapper .container {
    width: 50%;
    margin-bottom: 80px;
  }
  body .description-wrapper .container .text-wrapper p {
    font-size: 14px;
    color: #414141;
    text-align: justify;
    line-height: 20px;
    width: 100%;
    float: none;
  }
  body .description-wrapper .container .text-wrapper img {
    width: 45%;
    float: right;
    margin-left: 25px;
  }
  body .description-wrapper .container .text-wrapper ul {
    list-style-image: url(../img/list-marker.png);
    padding-left: 20px;
  }
  body .description-wrapper .container .text-wrapper ul li {
    font-size: 14px;
    color: #414141;
    padding: 0;
    padding-left: 5px;
    margin-bottom: 10px;
  }
  body .description-wrapper .container .text-wrapper a {
    float: right;
  }
  body .partners-wrapper {
    width: 960px;
    margin: 40px auto;
  }
  body .partners-wrapper .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  body .partners-wrapper .container .item {
    width: 100%;
    height: 210px;
    margin: 0 auto;
    border: 1px solid #CACCCE;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .partners-wrapper .container .item:hover img {
    height: 120px;
  }
  body .partners-wrapper .container .item img {
    height: 100px;
    -webkit-transition: .05s linear;
    transition: .05s linear;
  }
  body .contact-wrapper {
    width: 100%;
    background-color: #2D333D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .contact-wrapper .container {
    width: 480px;
    padding: 25px 0;
    margin: 0 10px;
  }
  body .contact-wrapper .container h1.title {
    font-size: 1.2rem;
    color: #F5F5F5;
  }
  body .contact-wrapper .container p {
    font-size: .9rem;
    color: #F5F5F5;
    text-align: justify;
    line-height: 18px;
  }
  body .contact-wrapper .container .social-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .contact-wrapper .container .social-wrapper .social {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
    cursor: pointer;
    -webkit-transition: .1s linear;
    transition: .1s linear;
  }
  body .contact-wrapper .container .social-wrapper .social.facebook {
    background-color: #3B5998;
  }
  body .contact-wrapper .container .social-wrapper .social.linkedin {
    background-color: #0097DA;
  }
  body .contact-wrapper .container .social-wrapper .social.twitter {
    background-color: #00CCFF;
  }
  body .contact-wrapper .container .social-wrapper .social:hover {
    -webkit-filter: brightness(85%);
            filter: brightness(85%);
  }
  body .contact-wrapper .container .social-wrapper svg {
    width: 20px;
    height: 20px;
  }
  body .contact-wrapper .container form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  body .contact-wrapper .container form button {
    color: #FFF;
    font-size: 1rem;
    width: 100px;
    height: 40px;
    border: none;
    background-color: #0093D8;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 25px;
  }
  body .contact-wrapper .container form button:hover {
    -webkit-filter: brightness(85%);
            filter: brightness(85%);
  }
  body .contact-wrapper .container form h5 {
    font-size: .8rem;
    color: #C8C8C8;
    margin-top: -25px;
    margin-left: 20px;
  }
  body .contact-wrapper .container form div {
    position: relative;
    margin-bottom: 25px;
  }
  body .contact-wrapper .container form div input,
  body .contact-wrapper .container form div textarea {
    font-family: roboto-l;
    font-size: .9rem;
    color: #FFF;
    text-indent: 5px;
    width: 100%;
    background-color: #252628;
    border: 1px solid #000000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body .contact-wrapper .container form div input:focus,
  body .contact-wrapper .container form div textarea:focus {
    outline: 1px solid #0093D8;
  }
  body .contact-wrapper .container form div input {
    height: 40px;
  }
  body .contact-wrapper .container form div textarea {
    height: 120px;
    resize: none;
  }
  body .contact-wrapper .container form div label {
    font-family: roboto-l;
    color: #FFF;
    height: 16px;
    line-height: 16px;
    position: absolute;
    top: 12px;
    left: 12px;
  }
  body footer {
    background-color: #2D333D;
    margin-bottom: 0;
    display: block;
  }
  body footer div.container {
    width: 960px;
    border-top: 1px solid #575C64;
    padding: 0;
  }
  body footer div.container h5 {
    width: 100%;
    font-size: .8rem;
    line-height: 18px;
    color: #FFF;
    padding: 20px 0;
    margin: 0;
  }
}
/*# sourceMappingURL=index.css.map */